<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Basketball Barbershop</title>
	<link rel="stylesheet" href="/css/base.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<script src="/homepage.js"></script>
</head>
<body>
	<div id="content">
		<h1><a href="/">The Basketball Barbershop</a></h1>

		{{#if user}}
			<h3>{{user.username}}</h3>
		{{else}}
			<a href="/register">Register here!!</a>
		{{/if}}



	{{{body}}}

	</div>

</body>
</html>
